body{
	background-color: #f8f8f8;
	box-sizing: border-box;
}
nav{
	background-color: transparent;
	height: 100px;
	font-size: 20px;
}
.logo{
	width: 120px;
	height: 70px;
}
.container-lg__header__imgbg{
	background-image: url('../images/1.jpg');	
	background-size: cover;
	height: 350px;

}
.container__contactos__top{	
	width: 100%;
	height: 50px;	
	background-color: var(--black);
}
.container__contactos__top--height{
	height: 50px;
}
.img__whatsapp{
	height: 30px;
	width: 30px;
}
.img__phone{
	height: 30px;
	width: 30px;
}

/*Header*/
/*Caroucel*/
.carousel-indicators li{
	height: 15px;
	width: 15px;
	border-radius: 50%;

}
.header__carrusel__images{
	height: 500px;
}
.carousel-caption--wordpress{
	background-color: rgb(85, 98, 112, 0.5);
	height: 100%;
	width: 300px;
	left: 0;
	top:  0;
	padding: 150px 30px;
	line-height: 20px;
}
.carousel-caption--desarrollo{	
	background-color: rgb(85, 98, 112, 0);
	height: 100%;
	width: 530px;	
	right: 0;
	top:  0;
	padding: 140px 30px;
	line-height: 20px;
	margin-left: auto;
}
.carousel-caption--googleAds{
	background-color: rgb(85, 98, 112, 0.2);
	height: 100%;
	width: 350px;
	right: 0;
	top:  0;
	padding: 120px 30px;
	line-height: 20px;
	margin-left: auto;
}
.carousel-caption p {
	line-height: 40px;
}

.btn--desarrollo{
	width: 240px;
	height: 40px;
	border-radius: 30px;
	border-color: transparent;
	margin-top: 44px;
	margin-right: 10px;

	
}


